<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if="show"><i>{{ message }}</i></p>
        <p v-else="show">{{ message2 }}</p>
        <p>pengurangan {{ int1 }} diambil {{ int2 }} adalah {{ pengurangan }}</p>
        <button v-on:click="penguranganProses">hasil pengurangan</button>
        <p>penjumlahan {{ int1 }} + {{ int2 }} = {{ penjumlahan }}</p>
        <button v-on:click="penjumlahanProses(10)">hasil penjumlahan (parameter=+10)</button><br>
        <p>input meter</p>
        <input type="text" v-model="meter">
        <p>input kilometer</p>
        <input type="text" v-model="kilometer">
    </div><br>

    <h1>Part lain</h1>
    <div id="app2">
        <p>v-model input</p>
        <input type="text" v-model="tulis">
        {{ tulis }} <br>
        <p>v-model input text area</p>
        <textarea cols="30" rows="10" v-model="testteks">
        </textarea><br>
        <p style="white-space: pre-line">{{ testteks }}</p>
        <p>v-model input radio button</p>
        <input type="radio" v-model="testradio" value="mobil">A <br>
        <input type="radio" v-model="testradio" value="motor">B <br>
        <p>pilihan anda {{ testradio }}</p><br>

        <label for="buat checkbox">sepak bola</label>
        <input type="checkbox" value="sepak-bola" v-model="checkbox"><br>
        <label for="buat checkbox">voli</label>
        <input type="checkbox" value="voli" v-model="checkbox"><br>
        <label for="buat checkbox">basket</label>
        <input type="checkbox" value="basket" v-model="checkbox"><br>
        <p>hobi saya {{ checkbox }}</p>
        <ul>
            <li v-for="choice in checkbox">{{ choice }}</li>
        </ul><br>

        <!-- <select v-model="select"> //pemilihan single -->
        <select v-model="select" multiple>
            <option value="" disabled>pilih bahasa</option>
            <option value="php">PHP</option>
            <option value="python">Python</option>
            <option value="javascript">Javascript</option>
        </select><br>
        bahasa pilihan adalah : {{ select }}<br>
        <ul>
            <li v-for="sel in select">{{ sel }}</li>
        </ul>
    </div>

    <div id="app3">
        <p>test gambar :</p><br>
        <img v-bind:src="sample" height="300" width="300"><br>
        <p>test link</p><br>
        <a v-bind:href="sampleLink">Google</a><br>
        <p>test fontstyle</p>
        <p v-bind:style="sampleFont">SAMPLE</p>
    </div>

    <div id="app4">
        <button v-on:click="message = 'ditekan via v-on click'">tombol1</button>
        <button @click="message = 'ditekan via @click'">tombol2</button>
        <button @click="tampilAlert">tombol3</button>
        <p>{{ message }}</p><br>

        <p>materi video 14</p>
        <input type="text" v-on:keyUp.enter="pesan = 'anda tekan enter'"> {{ pesan }} <br>
        <input type="text"
            @keyUp.space="spaceKey"
            @keyUp.up="upKey"
        >
    </div>
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>